<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/artista.css}" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Museo arte contemporanea</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<section>
		
	</section>
	<div class="fine">
		<p4></p4>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>