<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/formOperaModificata.css}" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
</head>
<body>
	<nav th:replace="fragments/autenticazione.html :: navigationAutenticazione"></nav>
	<section>
	<div class="modifica">
		<p1><center><strong>Modifica i dati dell'opera "<span th:object="${opera}" th:text="*{titolo}"></span>"</strong></center></p1>
	</div>
	<div class="elementoContainer">
	<form th:action="@{/formCollezione}" th:object="${opera}" method="POST">
		<div class="elementoContainer">
			<div class="elemento">
				<span class="elemento"></span><span><input type="hidden" th:field="${opera.id}"/></span>
			</div>
			<div class="elemento">
				<span class="elemento"></span><span><input type="hidden" th:field="${opera.artista}"/></span>
			</div>
			<div class="elemento">
				<span class="elemento"></span><span><input type="hidden" th:field="${opera.collezione}"/></span>
			</div>
			<div class="elemento">
				<span class="elemento">Titolo:</span> <span><input type="text" th:field="${opera.titolo}" th:style="'color:grey'" readonly/></span>
				<span th:if="${#fields.hasErrors('titolo')}" th:errors="${opera.titolo}" ></span>
			</div>
			<div class="elemento">
				<span class="elemento">Anno di realizzazione:</span> <span><input type="text" th:field="${opera.annoRealizzazione}" th:style="'color:grey'" readonly/></span>
				<span th:if="${#fields.hasErrors('annoRealizzazione')}" th:errors="${opera.annoRealizzazione}" ></span>
			</div>
			<div class="elemento">
				<span class="elemento">Descrizione:</span> <span ><textarea rows="9" cols="90" name="text" th:field="*{descrizione}" th:style="'color:grey'" readonly></textarea></span>
			</div>
			<div class="elemento">
				<p1><center><strong>Modifica effettuata con successo!</strong></center></p1>
			</div>
			<div class="elemento">
				<div><p1></p1></div>
			</div>
		</div>
	</form>
	</div>
	</section>
	<div class="fine">
		<p4></p4>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>