<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/informazioni.css}">
<title>Museo arte contemporanea</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<section>
	<div>
		<p1></p1>
	</div>
		<div class="informazioni"><p2>In questo museo di arte contemporanea si possono visitare numerose opere di artisti di grande valore, dal misterioso volto di Banksy ad una delle più
		celebri figure di questo periodo, Andy Warhol. Le loro opere si differenziano molto per contenuti e colori, ma anche spesso per le immense sfaccettature che 
		che assumono nel corso degli anni.</p2></div>
		<div class="informazioni"><p2> In questo museo si può navigare liberamente, ma se accedi troverai un mondo di sorprese. Avanti, cosa aspetti!</p2></div>
		<div>
		<p1></p1>
	</div>
	</section>
	<div class="fine">
		<p4></p4>
	</div>
	<footer th:replace="fragments/base.html :: footer"> </footer>
</body>
</html>