body {
	background-color: #f2f2f2;
	margin: 0;
}

#flex-containerNav {
	display: flex;
	padding: 26.7px;
	justify-content: space-between;
}

#autenticazione {
	position: right;
}

span.login {
	margin-right: 30px;
}

span.admin {
	margin-right: 30px;
}

#autenticazione a {
	color: white;
}

#autenticazione a:hover {
	color: black;
	text-decoration: underline;
}

#flex-containerHeader {
	display: flex;
	justify-content: space-around;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

#flex-containerFooter {
	display: flex;
	padding: 20px;
	justify-content: space-around;
}

div.navigation {
	margin-left: 20px;
}

nav {
	color: white;
	font-family: Helvetiva;
	font-size: 20px;
	height: 80px;
	background-color: #990000;
}

p {
	font-family: cursive;
	font-size: 20px;
	text-align: center;
}

header {
	background-color: #cccccc;
	height: 60px;
}

section {
	background-color: white;
	margin-left: 150px;
	margin-top: 80px;
	margin-right: 150px;
	height: 100%;
}

div.col {
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-family: garamond;
}

div.contatti {
	margin-left: 60px;
	margin-right: 60px;
}

p1 {
	font-family: garamond;
	margin-left: 25px;
	font-size: 25px;
}

p2 {
	font-family: garamond;
	font-size: 20px;
}

p3 {
	font-family: garamond;
	font-size: 18px;
}

p4 {
	font-size: 20px;
	margin-left: 20px;
	font-family: garamond;
}

p5 {
	font-size: 20px;
	font-family: garamond;
	margin-left: 30px;
	margin-top: 10px;
}

div.fine {
	background-color: #f2f2f2;
	height: 100px;
}

div#flex-containerHeader a {
	text-decoration: none;
}

a {
	text-decoration: none;
}

div.navigation a:visited {
	color: white;
}

div.navigation a:hover {
	color: white;
}

div.col a:hover {
	color: #8b0000;
}

a:hover, a:active {
	color: #8b0000;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: black;
	height: 60px;
	color: white;
}